body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pads {
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

.pad {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: #000000;
  text-shadow: 0 0 .5rem black;
  
}

.playing {
	box-shadow: 0 0 1rem #ffbada;
	position: relative;
	animation: colorchange 0.1s ease;  
  
}


@keyframes colorchange {
	0% {width: 10rem;}
	100% {width: 11rem;
	height: 7rem;}
}

kbd {
  display: block;
  font-size: 4rem;
  
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffbada;
}

h5.center {
	text-align:center;
	font-family:"Times New Roman",Times,serif;
}

p.center {
	text-align: center;
	font-family:"Times New Roman",Times,serif;
}

/* Drop Down Menu*/
.item {
	background-color: #ffa0cc;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: 1x black;
	border-radius: .4rem;
	/*cursor: pointer;*/
	font-family:"Times New Roman",Times,serif;
}
.menu {
	position: relative;
	/*right: 10px;*/
	display: inline-block;
}
.submenu {
	display: none;
	position: absolute;
	background-color: #ffa0cc;
	/*min-width: 160px;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.submenu a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.submenu a:hover {
	background-color: #ffbada;
}
.menu:hover .submenu {
	display: block;
}
.menu:hover .item {
	background-color: #ffbada;
}